.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 40px 0px 30px 10px;
  }
  .form-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
  }