.side-navbar {
    width: 250px;
    height: 100%;
    background-color: #f19e17;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between icon and text */
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .menu-item:hover,
  .menu-item.active {
    background-color: #00000081;
    color: #ecf0f1;
  }
  
  .menu-icon {
    font-size: 20px; /* Adjust icon size */
  }
  
  .bottom-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
  }
  
  .bottom-links a {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between icon and text */
    text-decoration: none;
    color: #000000;
    font-size: 15px;
  }
  
  .bottom-links a:hover {
    color: #ecf0f1;
    background-color: #00000081;

  }
  
  .bottom-links .menu-icon {
    font-size: 20px; /* Slightly smaller size for bottom links */
  }