.side-navbar2 {
  width: 250px;
  height: 100%;
  background-color: #f19e17; /* Sidebar background color */
  color: #fff; /* Text color */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow for better separation */
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center; /* Align icons and text */
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #000; /* Text color */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover,
.menu-item.active {
  background-color: #00000081; /* Darker background on hover */
  color: #ecf0f1; /* Light text on hover */
}

.menu-item svg {
  margin-right: 10px; /* Space between icon and text */
  color: #000; /* Icon color */
  transition: color 0.3s ease;
}

.menu-item:hover svg {
  color: #ecf0f1; /* Change icon color on hover */
}

.bottom-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.bottom-links a {
  display: flex;
  align-items: center; /* Align icons and text */
  text-decoration: none;
  color: #000; /* Text color */
  font-size: 14px;
  padding: 8px 0; /* Padding for the links */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bottom-links a:hover {
  color: #ecf0f1; /* Light color for text */
  background-color: #00000081; /* Background color on hover */
}

.bottom-links a svg {
  margin-right: 8px; /* Space between icon and text */
  color: inherit; /* Inherit color from parent */
}
